* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 20px 0;
    background: #302C42;
}

.header-container{
    width: 95%;
    margin: auto;
    display: flex;
    margin-bottom: 67px;
    
}

.header-container-one {
    display: flex;
    align-items: center;
}

.header-container-img {
    margin-right: 15px;
}

.header-container-nav {
    width: 100%;
    display: flex;
   
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


.header-container-nav div {
    width: 40%;
}

.header-container-nav-ul {
    width: 80%;
    display: flex;
   
    align-items: center;
    justify-content: center;

}

.nav-ul-li-a:hover {
    color: #8176AF;
    font-size: 15px;

}

.nav-ul-li {
    list-style: none;
    height: 30px;
    width: 120px;
    text-align: center;
}

.nav-ul-li:first-child {
    text-align: right;
    margin-right: 10px;
}

.nav-ul-li-a{
    font-size: 16px;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.nav-ul-button {
    display: flex;
    width: 154px;
    height: 48px;
    margin-top: 25px;
}



.nav-ul-button1 {
    border-radius: 40px;
    border: 2px solid #FFF;
    background: #302C42;
    color: #FFF;
    font-size: 10px;
    font-weight: 700;
    padding: 7px 38px;
    margin-right: 28px;

}

.nav-ul-button2 {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-size: 10px;
    font-weight: 700;
    padding: 7px 38px;
    border: none;
    cursor: pointer;
}

.nav-ul-button1:hover {
    color: #302C42;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    transition: 0.5s;
}

.nav-ul-button2:hover {
    border: 2px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}

/* End header */

.main {
    background: #302C42;
}

.sectionOne {
    background: #302C42;
    width: 95%;
    margin: auto;
}

.sectionOne-reality {
    display: flex;
}

.sectionOne-reality-divOne {
    display: flex;
    flex-direction: column;
    width: 42%;
    margin-top: 60px;
}

.sectionOne-reality-divOne-title {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 41px;
    font-weight: 700;
    color: #FFF;
   
}

.title{
    color: #C0B7E8;
}

.white {
    color: #FFF;
}

.sectionOne-reality-divOne-paragraph {
    color: #FFF;
    font-size: 16px;
    margin-top: 36px;
    width: 98%;
}

.sectionOne-reality-divOne-button {
    display: flex;
    align-items: center;
   
}

.sectionOne-reality-divOne-button1 {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 38px;
    cursor: pointer;
    border: none;
    margin-top: 60px;
    border: 1px solid #343045;
}

.sectionOne-reality-divOne-button1:hover {
    border: 1px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}

.sectionOne-reality-divOne-img {
    width: 66%;
    display: flex;
    justify-content: end;
    margin-top: 27px;
    margin-bottom: 30px;
   
}

.sectionOne-reality-divOne-button2 {
    margin-top: 63px;
}

.sectionOne-reality-contact {
    display: flex;
    align-items: center;
    margin-top: 157px;
    border-radius: 90px;
    background: radial-gradient(2900.76% 50.13% at 50.00% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    justify-content: center;
    padding: 54px 39px;
    
}

.sectionOne-reality-contact-divTwo {
    display: flex;
    align-items: center;
}

.sectionOne-reality-contact-divTwo-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionOne-reality-contact-divTwo-paragragh {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 9px;
}

.sectionOne-reality-contact-divTwo-img {
    width: 59px;
    height: 59px;
    margin-right: 29px;
}

.vector {
    margin-right: 22px;
    margin-left: 22px;
}
.sectionOne-reality-contact-divTwo-span {
    color: #FFF;
    font-size: 14px;
}


/* End sectionOne */

.sectionTwo {
    width: 95%;
    margin: auto;
    margin-top: 94px;
}

.sectionTwo-container-introduction {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionTwo-container-introduction-divOne-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.sectionTwo-container-introduction-divOne-span {
    color: #FFF;
    font-size: 36px;
    font-weight: 300;
}

.box2 {
    display: flex;
    align-items: center;
}

.sectionTwo-container-introduction-divOne-span {
    margin-right: 30px;
}

.sectionTwo-container-introduction-divOne {
    width: 45%;
}

.sectionTwo-container-introduction-divTwo {
    width: 48%;
}

.sectionTwo-container-introduction-divOne-img {
    width: 40%;
}

.sectionTwo-container-introduction-divTwo-paragragh {
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;

}

.sectionFour-container-technologies-divOne-img {
    width: 45%;
}

.sectionTwo-container-about {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.sectionTwo-container-about-divOne {
    width: 42%;
}

.sectionTwo-container-about-divOne-img {
    width: 100%;
}

.sectionTwo-container-about-divTwo {
    width: 47%;
}

.sectionTwo-container-about-divTwo-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.sectionTwo-container-about-divTwo-span {
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    font-weight: 300;
}

.sectionTwo-container-about-divTwo-paragragh {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-top: 42px;
    width: 100%;
}

.sectionTwo-container-about-divTwo-button {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    padding: 17px 39px;
    margin-top: 28px;
    border: none;
    cursor: pointer;
}

.sectionTwo-container-about-divTwo-button:hover {
    border: 1px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}

/*End sectionTwo */

.sectionThree {
    width: 95%;
    margin: auto;
    margin-top: 94px;

}


.sectionThree-container {
    margin: auto;

}

.sectionThree-container-build {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionThree-container-build-divOne-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.sectionThree-container-build-divOne-span {
    color: #FFF;
    font-size: 36px;
    font-weight: 300;
}

.sectionThree-container-build-divOne-span {
    margin-right: 30px;
}

.sectionThree-container-build-divOne-img {
    width: 40%;
}

.sectionThree-container-build-divOne{
    width: 45%;
}

.sectionThree-container-build-divTwo {
    width: 48%;
}

.sectionThree-container-build-divTwo-paragragh {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}


.sectionThree-container-divTwo{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    gap: 10px;

}

.sectionThree-container-divTwo-card {
    width: 100%; 

}

.sectionThree-container-divTwo-card-mask {
    border-radius: 40px;
    background: radial-gradient(50.00% 50.00% at 50.00% 50.00%, #433D60 0%, #211E2E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
    margin: auto;
    z-index: 4;


}

.sectionThree-container-divTwo-card-mask-img {
    width: 50%;
    margin-top: 13px;
    border: 10px solid rgba(18, 18, 18, 0.384);
    border-radius: 50%;
}

.sectionThree-container-divTwo-card-mask-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
   
}

.sectionThree-container-divTwo-card-mask-box-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-top: 23px;
   
}

.sectionThree-container-divTwo-card-mask-box-paragragh {
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
    margin-top: 21px;
    width: 95%;
    
}

.vect {
    width: 70%;
    margin-top: 17px;
}

.sectionThree-container-divTwo-card-mask-box-btn {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    padding: 16px 39px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    border: 1px solid #343045;
}

.sectionThree-container-divTwo-card-mask-box-btn:hover {
    border: 1px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}


.sectionOneTwo-navigation {
    display: none;
}

/* End sectionThree */

.sectionFour {
    margin-top: 94px;
}

.sectionFour-container-technologies {
    width: 95%;
    margin: auto;
}

.sectionFour-container-technologies-divOne {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 95%;
    margin-bottom: 100px;
}

.sectionFour-container-technologies-divOne-img {
    position: absolute;
    border-radius: 160px;
    background: #211E2E;
    box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
    width: 100%;
  
}

.sectionFour-container-technologies-divOne-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionFour-container-technologies-divOne-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    margin-top: 108px;

}

.sectionFour-container-technologies-divOne-span {
    color: #FFF;
    font-size: 36px;
    font-weight: 300;
    margin-top: 11px;
}

.sectionFour-container-technologies-divOne-btn{
    margin-top: 35px;
    border-radius: 50%;
    background: #8176AF;
    border: none;
    border: 10px solid rgba(18, 18, 18, 0.849);
    border-radius: 50%;
    
}


.sectionFour-container-technologies-divTwo {
    margin-top: 340px;
    width: 95%;
    position: absolute;
    
}

.divTwo-box {
    display: flex;
    justify-content: space-between;
}

.divTwo-box img{
    width: 20%;
}

/* End sectionFour*/


.sectionFive {
    margin-top: 800px;
   width: 100%;
}

.sectionFive-container-component { 
    width: 95%;
    margin: auto;
}

.sectionFive-container-component-divOne {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sectionFive-container-component-divOne-one {
    width: 45%;
    position: relative;
}

.sectionFive-container-component-divOne-one-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
}

.sectionFive-container-component-divOne-one-span {
    color: #FFF;
    font-size: 36px;
    font-weight: 300;

}

.sectionFive-container-component-divOne-one-img {
    width: 40%;
    padding: 0px 15px;
}

.sectionFive-container-component-divOne-two {
    width: 48%;
}

.sectionFive-container-component-divOne-two-paragragh {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.sectionFive-container-component-divTwo {
    margin-top: 138px;

}

.sectionFive-container-component-divTwo-ellipse {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 95%;
}

.sectionFive-container-component-divTwo-ellipse-divOne {
    margin-left: 41px;
}

.number {
    position: absolute;
    margin-top: -10%;
    margin-left: 5.4%;
}

.sectionFive-container-component-divTwo-ellipse-divOne-img {
    position: relative;
    color: #343045;
    font-weight: 700;
    border-radius: 50%;
    border: 10px solid rgba(18, 18, 18, 0.384);
    margin-left: 15px;
}


.sectionFive-container-component-divTwo-ellipse-div {
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.sectionFive-container-component-divTwo-ellipse-div a{
    widows: 50%;
   
}

.sectionFive-container-component-divTwo-ellipse-div img {
    border: 0;
    padding: 0;
    margin: 0;
    width: 70%;

}

.sectionFive-container-component-divTwo-ellipse-div h6 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}


.sectionFive-container-component-divTwo-ellipse-div span {
    width: 50%;
}

.vect1 {
    position: relative;
    width: 100%;
}

.vect1 img {
    width: 100%;
   
}


/*End sectionFive*/


.sectionSix {
    margin-top: 200px;
    
}

.sectionSix-container {
    border-radius: 100px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #403A5F 0%, #211E2E 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 95%;
    margin: auto;
    padding: 90px 107px;
}

.sectionSix-container-join-divOne {
    text-align: center;
}

.sectionSix-container-join-divOne-title {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    
}

.sectionSix-container-join-divOne-paragragh {
    color: #FFF;
    font-size: 36px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 65px;
    margin-top: 21px;
}

.sectionSix-container-join-divTwo {
    display: flex;

}

.sectionSix-container div {
    width: 100%;
   
}

.input {
    border-radius: 40px;
    border: 2px solid #FFF;
    padding: 27px 40px;
    margin-bottom: 39px;
    
}

.sectionSix-container-join-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.sectionSix-container-join-buttons button {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    color: #343045;
    font-size: 12px;
    font-weight: 700;
    border: none;
    padding: 16px 55px;
    margin-top: 51px;
    border: 1px solid #343045;
}

.sectionSix-container-join-buttons button:hover {
    border: 1px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}


.sectionSix-container-join-divTwo input:focus,
.sectionSix-container-join-input:focus {
    outline: none;

}


.input input {
    background: transparent;
    border: none;
    color: white;
}


.input textarea {
    border: none;
    background: transparent;
    color: white;
}


/* End sectionSix*/

.footer {
    margin-top: 94px;
}

.footer-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;

}

.footer-container-frame {
    width: 185px;
    height: 187px;
    margin-left: 35px;
}

.footer-container-links-ul li {
    list-style: none;
    margin-bottom: 25px;
}

.footer-container-links-ul a{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    
}

.footer-container-links-socialize-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 39px;
}


.footer-container-links-socialize-social-midia a {
    margin-right: 20px;
}

.footer-container-links-socialize-social-midia a:hover {
    border: 2px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}

.footer-container-links-socialize-social-midia-btn {
    border-radius: 40px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    padding: 17px 38px;
    border: none;
    cursor: pointer;
    margin-top: 49px;
    color: #343045;
    font-size: 12px;
    font-weight: 700;
}

.footer-container-links-socialize-social-midia-btn:hover {
    border: 2px solid #FFF;
    background: #302C42;
    color: #FFF;
    transition: 0.5s;
}

.copyright {
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.82px;
    margin-top: 49px;
    text-align: center;
}

.vectEnd {
    margin-top: 43px;
}

.vectEnd img {
    width: 100%;
}

.vect2 {
    position: relative;
    width: 100%;

}

.vect2 img {
    width: 100%;
    margin: auto;
    margin-top: -40px;
}

.vect3 {
    position: relative
}

.author {
    color: #8176AF;  
    font-size: 15px;
    font-weight: 700;
}

